@import "../../../styles/globals.scss";

.image {
	display: inline-flex;
	vertical-align: middle;
	margin-right: 9px;
	height: 40px;
	width: 40px;

	&.themeImage {
		height: 30px;
		width: auto;
		margin-right: 5px;
	}

	&.dark {
		img {
			filter: invert(1) contrast(2);
		}
	}

	justify-content: center;

	& img {
		object-fit: cover;
		border-radius: 10px;
	}
}

.select {
	position: relative;
	z-index: 5;

	@media screen and (max-width: 768px) {
		font-size: 15px;
	}
}

.wrapper {
	min-width: 260px;
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	border-radius: 12px;
	padding: 16px 24px;
	width: 100%;
	padding-right: 55px;
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	transition: 0.25s ease-in-out;

	& span {
		font-weight: 500;
		color: $black;
	}

	&:after {
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1.5C15 1.5 10.856 8.5 8 8.5C5.145 8.5 1 1.5 1 1.5' stroke='%23969696' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		right: 22px;
		top: 50%;
		transform: translate(0, -50%);
		background-repeat: no-repeat;
		background-position: 50%;
		transition: 0.25s;

	}


	&.themeWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		padding: 0;
		min-width: inherit;
		width: 95px;
		height: 48px;
		&:after {
		background-image: none;
		}

		span {
			font-size: 12px;
		}
	}

	&.date {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.75 11.776C0.75 4.81995 3.069 2.50195 10.024 2.50195C16.98 2.50195 19.299 4.81995 19.299 11.776C19.299 18.732 16.98 21.05 10.024 21.05C3.069 21.05 0.75 18.732 0.75 11.776Z' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.02539 8.32422H19.0334' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.4286 12.2612H14.4376' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0292 12.2612H10.0382' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.62148 12.2612H5.63048' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.4286 16.1133H14.4376' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0292 16.1133H10.0382' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.62148 16.1133H5.63048' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0332 1.05029V4.31229' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.0249 1.05029V4.31229' stroke='%23130F26' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: 24px 42%;
		padding: 13px 20px;
		padding-left: 57px;

		@media screen and (max-width: 1024px) {
			padding: 10px;
			font-size: 14px;
			padding: 12px 10px 10px;
			border-radius: 15px;
			padding-left: 50px;
			background-position: 17px 50%;
		}

		@media screen and (max-width: 550px) {
			padding: 5px 15px 0;
		}
	}

	&.imgSelect {
		padding: 7px 27px;
	}

	//dark-theme
	&.dark {
		border-color: rgba(255, 255, 255, 0.04);
		color: #a0a0a0;
		background-color: rgba(255, 255, 255, 0.04);
	}

	@media screen and (max-width: 1024px) {
		padding: 12px 25px;
		font-size: 16px;
	}

	@media screen and (max-width: 768px) {
		padding: 10px 15px;
		border-radius: 15px;
	}
}

.label {

	&.themeLabel {
		font-size: 12px;
	}
}

.imgSelect .wrapper {
	padding: 7px 27px;
}

.imgSelect .list li {
	display: flex;
	align-items: center;
	font-weight: 500;
}

.imgSelect .list li img {
	margin-right: 20px;
	width: 22px;
	height: 35px;
	object-fit: contain;
}

.select.active .list {
	max-height: 250px;
	height: max-content;
	opacity: 1;
}

.select.active .wrapper:after {
	transform: translate(0, -50%) rotate(-180deg);
}

.list {
	background: #f6f6f6;
	border: 1px solid #f6f6f6;
	border-radius: 0 0 12px 12px;
	padding: 0px 7px;
	position: absolute;
	left: 0;
	right: 0;
	border-top: transparent;
	max-height: 0;
	overflow: scroll;
	transition: 0.25s ease-in-out;
	opacity: 0;

	&.themeList {
		padding: 0;
		li {
		padding: 5px 0;
    margin: 5px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */

	@media screen and (max-width: 768px) {
		border-radius: 0 0 10px 10px;
		padding: 0 7px;
		margin-top: -5px;
	}

	&.dark {
		background-color: rgba(33, 34, 50, 1);
		border-color: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(20);
		color: #a0a0a0;
	}
}

.list ul {
	list-style: none;
}

.item {
	padding: 10.5px 15px;
	margin: 3px 0;
	transition: 0.25s ease-in-out;
	cursor: pointer;
	font-weight: 500;

	@media screen and (max-width: 768px) {
		padding: 8.5px 10px;
		margin: 1px 0;
		border-radius: 10px;
	}

	&:hover {
		background: #f0efff;
		border-radius: 12px;

		&.dark {
			background: #1b1d2c;
		}
	}
}

.button {
	padding: 8px 4px 16px 4px;
}

.line {
	margin-left: 10.5px;
	margin-right: 10.5px;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc7a;
}

.select.active .wrapper {
	border-radius: 12px 12px 0 0;
	border-bottom-color: transparent;

	@media screen and (max-width: 768px) {
		border-radius: 10px 10px 0 0;
	}
}

.select.active {
	box-shadow: 4px 4px 26px rgb(0 0 0 / 7%);
	z-index: 10;
}
